.about-page-container {
	height: 100%;
	padding: 67px 0;
	.logo-container {
		width: 241px;
		position: relative;
		height: 250px;
	}

	.title {
		font-size: 16px;
		color: rgba(40, 95, 157, 1);
	}

	.description {
		color: rgba(0, 0, 0, 1);
	}
}
